:root {
    --branco: #fff;
    --preto: #000;
    --cinza-claro: #F8F8F8;
    --cinza-escuro: #EEE;
    --amarelo-footer-rodape: #FEDF1170;
    --amarelo-principal: #FEDF11;
    --amarelo-pilares: #FEDF1175;
    --verde-plano-basico: #60D8D1;
    --vermelho-plano-completo: #E33B3B;
    
    --montserrat: 'Montserrat', sans-serif;

    font-family: 'Montserrat', sans-serif;
}

html,body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

/* Header */

.menu_nav {
    background: var(--amarelo-footer-rodape);
    height: 3rem; 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    /* font-size: 10px; */
    justify-content: space-evenly;
    padding: 1rem;
}



.botao-header{
    color: var(--amarelo-principal); 
    background: #000;

    display: flex;
    height: 50px; 
    width: 100px;
    font-size: 1.3rem;
    margin: 0 30px 0 0;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    left: 20px;

    border-color:#000;
    border-radius: 15px;
}


.opcoes_nav_sumir{
    display: none;
}

.opcoes_nav {
    display: inline;
    /* margin: 0 60px 0 0; */
    color: #000;
    font-size: 20px;
}

@media screen and (min-width: 1024px){
.botao-header {
    color: var(--amarelo-principal);
    /* background: #000; */
    
    display: flex;
    height: 52px;
    width: 175px;
    font-size: 30px;
    margin: 0 100px 0 0;
    justify-content: center;
    align-items: center;
    font-weight: 400;

    border-color:#000;
    border-radius: 15px;
}
   
 .botao-header:hover {
    cursor: pointer;
    transform: scale(1.1);
    
} 

.opcoes_nav_sumir {
    display: inline;
    margin: 0 40px;
    color: #000;
    font-size: 20px;
    
}

.opcoes_nav {
    display: inline;
    margin: 0 40px;
    color: #000;
    font-size: 20px;
    
}


.opcoes_nav:hover {
    color: #E33B3B;
    cursor: pointer;
} 

.opcoes_nav_sumir:hover {
    color: #E33B3B;
    cursor: pointer;
}
}

/*   FIM DO HEADER   */

/*Titulo e Logo*/

.title__desktop{
    display: none;
}

.logo{
    width: 90%;
    margin: 5%;
}

.caixa{
    /* position: absolute; */
    top: 90px;
    right: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: var(--amarelo-principal); */
    /* column-width: 100em; */
    /* padding: .75rem; */
    /* height: 15%; */
}
    
/* section{
    background-color: #FEDF11;
} */

.navegacao{
    position: absolute;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo1 {
    text-align: center ;
    font-size: max(30px, 5vw);
    font-weight: 500;
    /* padding:.9rem 0; */
}

.titulo2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 18px;
}

@media screen and (min-width: 1024px) { 

    .title__desktop {
        display: inline;
    }

    .title__mobile {
        display: none;
    }

   .caixa{     
    width: 500px;
    display: inline;
    /* flex-direction: row; */
    padding-left: 100%;
    padding-right: 100%;
    position: absolute;
}

    .logo{
        /* display: none; */
        position: relative;
        top:0px; 
        right: -300px;
        width: 65%;
    }
   
    /* .destaque{
        column-count:2 ;
        column-width: 100em;
    } */
    
    .titulo1 {
        text-align: justify ;
        font-size: 300;
        font-weight: 700;
        position: absolute; 
        /* top: 50px;  */
        /* right: 790px; */
        
    }

    .titulo2{
        text-align: justify;
        font-size: 20px;
        position: absolute; 
        top: 70px; 
        /* right: 845px; */
    }
} 

/* FIM TITULO E DESTAQUE */

    
/*   BEM ESTAR   */

.bem-estar {
    background: var(--branco);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    width: 100%;
    font-family: var(--montserrat);
}

.bem-estar__titulo {
    color: var(--preto);
    font-weight: bolder;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
    width: 100%;
}

.bem-estar__subtitulo{
    color: var(--preto);
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.bem-estar__imagem {
    width: 100vw;
    max-width: 450px;
}

.bem-estar__tipo { 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bem-estar__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.bem-estar__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--amarelo-principal); 
} 

.bem-estar__item{
    max-width: 350px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;
    padding: 2rem 2.5rem 2rem 5rem;
}

.bem-estar__item--social{
    background-image: url(assets/icone-social.png);
    background-size: 10%;
}

.bem-estar__item--fisico{
    background-image: url(assets/icone-fisico.png);
    background-size: 10%;
}

.bem-estar__item--emocional{
    background-image: url(assets/icone-emocional.png);
    background-size: 10%;
}

.item__descricao-titulo { 
    color: var(--preto);
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.item__descricao-texto {
    line-height: normal;
    color: var(--preto);
    font-weight: 300;
    font-size: 1rem;
}

@media screen and (max-width: 415px) {
    .bem-estar__item-imagem {
        display: none;
    }

    .bem-estar__lista {
        display: block;
        width: 100vw;
        background-color: var(--amarelo-principal);
    }  
    
    .bem-estar__container {
        background: none; 
    }

    .bem-estar__item{
        background-repeat: no-repeat;
        background-position: top 1.25rem left 2.5rem;
        padding: 2rem 2.5rem 2rem 5rem;
    }

    .bem-estar__item--social{
        background-image: url(assets/icone-social.png);
        background-size: 10%;
    }

    .bem-estar__item--fisico{
        background-image: url(assets/icone-fisico.png);
        background-size: 10%;
    }

    .bem-estar__item--emocional{
        background-image: url(assets/icone-emocional.png);
        background-size: 10%;
    }
    

    .bem-estar__container {
        width: 415px;
    }
}


@media screen and (min-width: 1024px){
    .bem-estar__imagem {
        display: none;
    }

    .bem-estar__item-imagem {
        width: 350px;
        border-radius: 10px 10px 0 0;
    }

    .bem-estar__item-imagem:hover {
        opacity: 0.7;
    }

    .bem-estar__container {
        border-radius: 0 0 10px 10px;
    }
    
}    
/*   FIM DO BEM ESTAR   */
    
/*   DEPOIMENTOS   */
    
    .depoimentos {
    background-color: var(--cinza-escuro);
    padding: 2rem;
}

.depoimentos__titulo {
    color: var(--preto);
    font-weight: 350;
    font-size: 2rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 3rem;
}

.cartao__depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos__cartoes {
    display: flex;
    flex-direction: column;

    background-color: var(--amarelo-principal);

    width: 100%;
    max-width: 300px;

    margin-bottom: 2rem;

    border-radius: 5px;
    box-shadow: 0 2px 10px 5px #00000030;
}

.cartao__nome {
    color: var(--preto);
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-top: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.cartao__profissao {
    color: var(--preto);
    font-weight: 150;
    font-size: 1rem;
    font-family: var(--montserrat);
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.cartao__texto-depoimentos {
    color: var(--preto);
    font-weight: 250;
    font-style: italic;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

@media screen and (min-width: 1024px) {
    .cartao__depoimentos {
        flex-direction: row;
        justify-content: space-around;
    }
}
    
/*  FIM DEPOIMENTOS    */
    
    /* PLANOS E BENEFICIOS */

.planos {
    background-color: var(--branco); 
}

.planos__cartoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planos__titulo {
    color: var(--preto);
    font-weight: 350;
    font-size: 2rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 3rem;
}

.botao {
    text-align: center;

    width: 100%;
    height: 2rem;
    max-width: 350px;

    box-sizing: border-box;

    padding: 1rem 2rem;

    border: 1px solid;
    border-radius: 15px;
}

.cartao {
    display: flex;
    flex-direction: column;

    background-color: var(--cinza-claro);

    width: 100%;
    max-width: 300px;

    margin-bottom: 2rem;

    border-radius: 5px;
    box-shadow: 0 2px 10px 5px #00000030;
}

.cartao--basico{
    color: var(--verde-plano-basico);
}

.cartao--completo {
    color: var(--vermelho-plano-completo);
}

.cartao__texto {
    color: var(--preto);
    line-height: 28px;
    margin-left: 10%;
}

.cartao__preco {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;

    margin-top: .3rem;
    margin-bottom: .7rem;
}

.cartao__botao {
    font-weight: 700;

    width: 70%;

    padding: 1rem 2rem 1rem 1rem;

    margin: 1rem 0;

    align-self: center;
}

.cartao__botao:hover {
    transform: scale(1.15);
}

.cartao__titulo {
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;

    padding: .75rem 0;

    background-color: var(--cinza-escuro);

    margin-bottom: .5rem;

    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 10px 2px #00000020;
}

.botao--basico {
    background-color: var(--verde-plano-basico);
    color: var(--branco);
}

.botao--completo {
    background-color: var(--vermelho-plano-completo);
    color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .planos__cartoes {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* FIM DOS PLANOS E BENEFICIOS */
    
/*   FOOTER   */
    
.containerFooter {
width: 100%;
display: flex;
flex-flow: row-reverse wrap;
justify-content: space-around;
align-items: center;
padding: 1rem 1rem;
background: #FEDF11BF;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

.rodape__redesSociais {
    margin: 1rem;
    /* display: flex; */
}

.rodapeItens2{
    font-size: 1.25rem;
    font-family: 'Montserrat';
}

.rodapeItens3{
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem 0;
}

.rodape__midia{
    font-size: 2 rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: .5rem;
}

.rodape__midia-icone{
    width: 10%;
    padding-right: 0.5rem;
}
