:root {
    --branco: #fff;
    --preto: #000;
    --cinza-claro: #F8F8F8;
    --cinza-escuro: #EEE;
    --amarelo-footer-rodape: #FEDF1170;
    --amarelo-principal: #FEDF11;
    --amarelo-pilares: #FEDF1175;
    --verde-plano-basico: #60D8D1;
    --vermelho-plano-completo: #E33B3B;

    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

/*Titulo e Logo*/

.logo{
    width: 100%;
    margin: 5%;
}

.caixa{
   /* position: absolute;*/
    top: 90px;
    right: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FEDF11;
}
    
section{
    background-color: #FEDF11;
}

.navegacao{
    position: absolute;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul h1 {
    font-size: max(30px, 5vw);
    font: weight 500px;
}

ul h2{
    font-size: 25px;
    padding: 18px;
}

@media screen and (min-width: 1024px) { 

   .caixa{     
    width: 500px;
    display: inline;
    padding-left: 100%;
    padding-right: 100%;
    position: absolute;
}

    .logo{
        position: relative ; 
        top:0px; 
        right: -200px;
        width: 65%;
    }
   
  
    
    section{
        
        column-count:2 ;
        column-width: 100em;
    
    }
    
   

    .titulo1{
        text-align: justify ;
        font-size:30px;
        font-weight: 500;
        position: absolute; 
        top: 50px; 
        right: 790px;
        
    }
    .titulo2{
        text-align: justify;
        font-size: 20px;
        position: absolute; 
        top: 70px; 
        right: 845px;
    }
    
} 

/* Header */

.menu_nav {
    
    background: #FEE958;
    height: 83px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    font-size: 10px;
    justify-content: end;
   
}



.botao{

color: #FEE958;
    background: #000;
    
    display: flex;
    height: 45px;
    width: 120px;
    font-size: 20px;
    margin: 0 30px 0 0;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    left: 20px;

    border-color:#000;
    border-radius: 15px;

}


.opcoes_nav_sumir{

    display: none;
}

.opcoes_nav {
    display: inline;
    margin: 0 60px 0 0;
    color: #000;
    font-size: 20px;
    
}

@media (min-width: 500px){
.botao {
    color: #FEE958;
    background: #000;
    
    display: flex;
    height: 52px;
    width: 175px;
    font-size: 30px;
    margin: 0 100px 0 0;
    justify-content: center;
    align-items: center;
    font-weight: 400;

    border-color:#000;
    border-radius: 15px;
}
   
 .botao:hover {
    cursor: pointer;
    transform: scale(1.1);
    
} 

.opcoes_nav_sumir {
    display: inline;
    margin: 0 40px;
    color: #000;
    font-size: 20px;
    
}

.opcoes_nav {
    display: inline;
    margin: 0 40px;
    color: #000;
    font-size: 20px;
    
}


.opcoes_nav:hover {
    color: #E33B3B;
    cursor: pointer;
} 

.opcoes_nav_sumir:hover {
    color: #E33B3B;
    cursor: pointer;
} 

/*   FIM DO HEADER   */
